@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    display: flex;
    background-color: #0D140C;
    height: 100%;
    width: 100%;
    justify-content: center;
}

* {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.DivisionContainer {
    display: flex;
}

.SeatContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    align-items: center;
}

.numbering,
.subSeatContainer {
    display: grid;
    width: max-content;
    height: max-content;
    grid-gap: 2.5vh;
    place-items: center;
}

.numbers,
.seatCon {
    display: grid;
    place-items: center;
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    font-size: 2vh;
}

    .seatCon[data-seat-status="Free"] {
        background-color: #D9D9D9;
    }

    .seatCon[data-seat-status="Occupied"] {
        background-color: #C10214;
    }

    .seatCon[data-seat-status="Selected"] {
        background-color: #FFBE17;
    }

    .seatCon[data-seat-status="Free"]:hover {
        background-color: rgb(107, 106, 106);
    }
