################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IT114L_MachineProblem/FileContentIndex/28be51d5-a295-4deb-8a90-183be60914dc.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/2df895c6-e02a-4134-8934-eb1b27ad277d.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/a163b492-713c-46a3-88a7-f1c8cc5c0096.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/c4f92509-cbac-422e-854f-9c631d78ac3b.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/cd0add59-5f4d-4070-b7dd-318a96a4e84e.vsidx
