################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IT114L_MachineProblem/FileContentIndex/28be51d5-a295-4deb-8a90-183be60914dc.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/2df895c6-e02a-4134-8934-eb1b27ad277d.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/a163b492-713c-46a3-88a7-f1c8cc5c0096.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/c4f92509-cbac-422e-854f-9c631d78ac3b.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/cd0add59-5f4d-4070-b7dd-318a96a4e84e.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/906c7907-afe2-4761-8889-d999a48d930d.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/e4d5d599-7d3f-44e8-b4cc-a6f8cfd286b3.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/ea02524e-f8d7-40fd-a707-811cf6c720be.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/f8812d1b-b437-4f64-b961-d98a3c8e8ff8.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/0b07b760-94b6-413d-af64-74886dbd51d6.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/4c38a12e-bd20-4b4e-911e-c135a63d92f3.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/945481ab-47ea-4f50-8689-e808f79e59b0.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/ff799be3-20b9-4700-bdac-6da52dfd38d1.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/30a679cb-4a81-4baf-a6dc-0df3f1eca1d4.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/328b8a8b-a11c-423d-95ef-22f96cedf89b.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/83b1f550-392d-4702-96cc-e3831ed00564.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/c89b931f-2d05-4daf-8f4b-77e030a18f9d.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/d4a6c1a4-e7ee-444e-b7ad-1bf61e9e9b07.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/03885970-482e-4989-8301-5fc2961488c0.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/308fb327-5805-48e8-89ea-4cb13af09374.vsidx
/.vs/IT114L_MachineProblem/FileContentIndex/e84d82b8-fbbe-4353-9166-3511672368df.vsidx
