/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --navbar-background-color: #0D140C;
    --navbar-background-transparent-color: #151b14ce;
    --content-background-color: #191f18;
    --movie-container-color: #3C3C3C;
    --filter-container-active-color: #0D140C;
    --filter-container-color: #7E7373;
    --light-text-color: #fff;
    --movie-name-text-color: #dfdfdf;
    --muted-text-color: #969696;
    --dark-text-color: #000;
    --red-text-color: #f5182ef8;
    --status-container-color: #e70634;
    --option-list-color: #0d140cc7;
    --btn-color-1: #C10214;
    --seat-available-color: #D9D9D9;
    --seat-selected-color: #FFBE17;
    --seat-taken-color: #C20114;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--content-background-color);
}

/* NAVIGATION BAR ===============================*/

.nav {
    position: fixed; /*relative*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: var(--navbar-background-color);
    z-index: 500; /*try this one*/

    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}

.nav-links li a {
    transition: all 0.2s linear;
    padding: 20px;
    position: relative;
    color: #a0a0a0;
}

.nav-links li a:hover {
    color: #fff;
    font-weight: 700;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 15px;
    transition: 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}

.nav, .nav .nav-links {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.homepage-logo {
    height: 40px;
    display: flex;
}

.nav .search-icons {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box .search-icons {
    position: absolute;
    left: 15px;
    top: 50%;
    color: #0D140C;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}

.nav .navOpenBtn, .nav .navCloseBtn {
    display: none;
}

.manageMovie {
    margin:170px;
}

.manageMovie h2 {
    color: #fff;
    position: center;
    font-size: 45px;
    margin-bottom: 15px;
}

.addMovie {
    background-color: #fff;
    color: #151111;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.addMovie:hover {
    background-color: #3C3C3C;
    cursor: pointer;
    color: #fff;
}

.movieModify {
    list-style: none;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.movieModify li {
    margin-right: 15px;
    margin-bottom: 15px;
}

.movieModify li:last-child {
    margin-right: 0; 
}

.movieModify li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.movieList {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3c3c3c;
}

.TopGun {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.movieList li{
    margin-right: 15px;
    color: #fff;
}

.movieList li:last-child {
    margin-right: 0;
}

.movieList a {
    color: #fff;
}

.movieList a:hover {
    text-decoration: underline;
}

.posterImage {
    width: 5rem;
    height: auto;
    display: block;
    margin-bottom: 10px;
}






/* BREAKPOINTS======================================================= */
@media screen and (max-width: 1160px) {
    /* NAVIGATION BAR */
    .nav {
        padding: 15px 100px;
    }

    .nav .search-box {
        right: 150px;
    }
}

@media screen and (max-width: 950px) {
    /* NAVIGATION BAR */
    .nav {
        padding: 15px 50px;
    }

    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }

}

@media screen and (max-width: 768px) {
    /* NAVIGATION BAR */
    .nav .navOpenBtn, .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 25px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        backdrop-filter: blur(5px);
        background-color: var(--navbar-background-transparent-color);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: var(--light-text-color);
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: var(--light-text-color);
        font-size: 20px;
        cursor: pointer;
    }

    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 678px) {
}

@media screen and (max-width: 500px) {
}
