body, html, #form1 {

    height: 100%;
}

* {
    color: white;
}

div#ChangeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    height: calc(100% - 95px);
}

.movieContainer {
    
    height: 700px;
    width: 900px;
    display: flex;
}

.textBoxInput {
    height: 30px;
    width: 300px;
    color: black;
}

.textBoxContainer {
    display: flex;
    width: 500px;
}

.lblCSS {
    display: block;
    width: 150px
}